spring:
  config:
    import: secrets.yml
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
#notion:
#  secretKey: 423F4528482B4D6251655468566D597133743677397A24432646294A404E635266556A586E5A7234753778214125442A472D4B6150645367566B597033733576
#  databaseUrl: jdbc:postgresql://localhost:5433/jwt_security
#  username: kristoffer
#  password: katt


